table {
	width:100%;
	padding:4px;
}

table th {
	background-color:#666;
    color:#EEE;
	size:1.2em;
	padding:6px;
	font-weight:bold;
}

table td {
	padding:3px;
}

table .r1 {
	background-color:#CCC;
}

table .r2 {
	background-color:#AAA;
}
