h4 {
	margin-top:5px;
	margin-bottom:0px;
	font-size: 1.1em;
	font-weight: bold;
	padding:3px;
}
table {
	width:770px;
	padding:4px;
	clear:both;
}
table th {
	background-color:#666;
    color:#EEE;
	size:1.2em;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:6px;
	font-weight:bold;
	cursor:pointer;
}

th.sorting_asc {
	background-color:#A31;
}

th.sorting_desc {
	background-color:#039;
}
table td {
	padding:3px;
	text-align:left;
}

table .even {
	background-color:#AAA;
}

table .odd {
	background-color:#CCC;
}

.dataTables_length {
	width:40%;
	float:left;
}
.dataTables_filter {
	width:50%;
	float:right;
	text-align:right;
	margin-right:28px;
}

.dataTables_info {
	float:left;
	width:40%;
}

.dataTables_paginate {
	float:right;
	text-align:right;
	margin-right:28px;
	width:40%;
}

.paging_full_numbers span.paginate_button {
    background-color: #DDDDDD;
}
.paging_full_numbers span.paginate_button, .paging_full_numbers span.paginate_active {
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    margin: 0 3px;
    padding: 2px 5px;
}

.dataTables_info, .paging_full_numbers {
	margin-top:6px;
}

table#selected_playlist {
	width:47%;
}
