@charset "utf-8";
h3 {
	margin-top:15px;
	margin-bottom:10px;
	font-size: 1.1em;
	font-weight: bold;
	color:#081F4C;
	padding:3px;
	border-bottom:1px #081F4C solid;
}
h3:first-child {
	margin-top:5px;
}
div {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bot:0px;
}
div.header {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	background-image:url(./top.png);
	background-repeat:repeat-x;
	background-position:bottom;
	height:135px;
	margin-top:30px;
	padding-bottom:25px;
}
.mainlogo {
	margin-top:-25px;
}
body {
	background-color: #EEE;
	background-image: url(./header.png);
	background-repeat: repeat-x;
	font-family: Century Gothic, Geneva, sans-serif;
	font-size:18px;
}
div.body {
	background-image:url(./mid.png);
	background-repeat:repeat-y;
	margin:0px;
	padding-top: 10px;
	padding-bottom:0px;
	padding-left:15px;
	padding-right:15px;
	width: 770px;
	font-size:.85em;
	color:#333;
	text-align:justify;
}

div.content {
	width:770px;
}

div.content li {
	margin-bottom:3px;
}

div.content .box {
	float:left;
	width:375px;
	padding:5px;
}

div.content .playlists {
	float:none;
	width:755px;
}

div.content .loginlist {
	margin:10px;
	padding:5px;
	list-style-type:none;
}

div.footer {
	height:25px;
	background-image:url(./bot.png);
	background-position:bottom;
}
div.copyright {
	font-size:.7em;
	color:#999;
	text-align:center;
	margin-top:5px;
	margin-bottom:15px;
}
.topnav li {
	list-style-type: none;
	display:inline;
	padding:10px;
}
.header ul.topnav {
	text-align:right;
	display:inline;
	float:right;
	margin-top:20px;
	margin-bottom:40px;
	margin-left:30px;
}
div.menu {
	text-align:center;
}
div.searchbox
{
	padding-bottom:10px;
	margin:0 auto;
}
div.searchbox #searchbox{
	width:485px;
	height:40px;
	background:url(search.png) top left no-repeat;
	padding-left:10px;
	padding-right:10px;
	outline:none;
	border:none;
}
div.searchbox #searchbox:focus{
	background-image:url(searchfocus.png);
}
div.searchbox #searchbox:hover{
	background-image:url(searchfocus.png);
}

div.searchbox #searchbtn {
	width:90px;
	height:35px;
	background:url(searchbtn.png) no-repeat;
	cursor:pointer;
	text-indent:-9999px;
	border:none;
	margin-top:-7px;
	padding-bottom:0px;
}

.mainnav, .mainnav li {
	margin:0px;
	list-style-type: none;
	display:inline;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	color:#A31;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color:#039;
}
a:hover {
	text-decoration: underline;
}
