@charset "utf-8";
h1 {
	font-size: 64px;
	font-weight: bold;
	text-align:left;
	padding-left:30px;
}
p {
	margin:0px;
	padding:20px;
}
div {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bot:0px;
}
div.header {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	background-image:url(./top.png);
	background-repeat:repeat-x;
	background-position:bottom;
	height:135px;
	margin-top:30px;
}

.mainlogo {
	margin-top:-25px;
}
body {
	background-color: #EEE;
	background-image: url(./header.png);
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, sans-serif;
}
div.body {	
	background-image:url(./mid.png);
	background-repeat:repeat-y;
}
div.footer {
	
}
.topnav li {
	list-style-type: none;
	display:inline;
	padding:10px;
}
.header ul.topnav {
	text-align:right;
	display:inline;
	float:right;
	top:50px;
}
.menu {
	text-align:center;
}
.searchbox {
	width:60%;
	margin-right:20px;
}
.mainnav, .mainnav li
{
	margin:0px;
	list-style-type: none;
	display:inline;
	padding:10px;
}
a:link, a:visited, a:active, a:hover  {
	text-decoration: none;
	color:#039;
}
a:hover {
	text-decoration: underline;
}