@charset "utf-8";
h1 {
	font-size: 64px;
	font-weight: bold;
	text-align:left;
	padding-left:30px;
}
hr {
	width:80%;
	margin:10px;
	color:#333;
	text-align:center;
}
div {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bot:0px;
}
div.header {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	background-image:url(./top.png);
	background-repeat:repeat-x;
	background-position:bottom;
	height:135px;
	margin-top:30px;
	padding-bottom:50px;
}
.mainlogo {
	margin-top:-25px;
	margin-bottom:30px;
}
body {
	background-color: #EEE;
	background-image: url(./header.png);
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, sans-serif;
	font-size:18px;
}
div.body {
	background-image:url(./mid.png);
	background-repeat:repeat-y;
	margin:0px;
	padding-top: 10px;
	padding-bottom:0px;
	padding-left:15px;
	padding-right:15px;
	width: 770px;
	font-size:.85em;
	color:#333;
	text-align:justify;
}
div.footer {
	height:25px;
	background-image:url(./bot.png);
	background-position:bottom;
}
div.copyright {
	font-size:.7em;
	color:#999;
	padding-left:40px;
	padding-right:40px;
	width:720px;
	text-align:center;
}
.topnav li {
	list-style-type: none;
	display:inline;
	padding:10px;
}
.header ul.topnav {
	text-align:right;
	display:inline;
	float:right;
	margin-top:20px;
}
div.menu {
	text-align:center;
	padding-bottom:20px;
	padding-top:0px;
}
div.searchbox
{
	padding-bottom:10px;
}
div.searchbox #searchbox{
	width:60%;
	margin-right:20px;
}

.mainnav, .mainnav li {
	margin:0px;
	list-style-type: none;
	display:inline;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	color:#A31;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color:#039;
}
a:hover {
	text-decoration: underline;
}
